services:
  # Web Application
  my-test-app1:
    image: btripp365/my-test-app1:${TAG}
    restart: always
    labels:
      - "deunhealth.restart=true"
    environment:
      - VIRTUAL_HOST=${SUBDOMAIN}
      - LETSENCRYPT_HOST=${SUBDOMAIN}
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost/ || exit 1"]
      interval: 30s
      start_period: 20s
    networks:
      - ${ENV_NAME}_public # Connected to Proxy
networks:
  # Public network must match what the proxy uses
  ${ENV_NAME}_public:
    external: true
    